PruebaSAE/PruebaSAE.Test/Connected Services/ServicioEntidades/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61733/Entidades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio" />
  <xs:import schemaLocation="http://localhost:61733/Entidades.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio.Respuestas" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPadres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPadresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio.Respuestas" minOccurs="0" name="ObtenerPadresResult" nillable="true" type="q3:RespuestaPadres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHijosDePadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPadre" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHijosDePadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio.Respuestas" minOccurs="0" name="ObtenerHijosDePadreResult" nillable="true" type="q4:RespuestaHijos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio.Respuestas" minOccurs="0" name="CrearPadreResult" nillable="true" type="q5:RespuestaPadres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearHijo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPadre" type="xs:long" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearHijoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio.Respuestas" minOccurs="0" name="CrearHijoResult" nillable="true" type="q6:RespuestaHijos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>