PruebaSAE/PruebaSAE.Presentacion/Connected Services/ServicioEntidades/Negocio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Negocio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61733/Entidades.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61733/Entidades.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61733/Entidades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio" />
      <xsd:import schemaLocation="http://localhost:61733/Entidades.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio.Respuestas" />
      <xsd:import schemaLocation="http://localhost:61733/Entidades.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PruebaSAE.Negocio.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntidades_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IEntidades_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IEntidades_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IEntidades_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IEntidades_ObtenerPadres_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPadres" />
  </wsdl:message>
  <wsdl:message name="IEntidades_ObtenerPadres_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPadresResponse" />
  </wsdl:message>
  <wsdl:message name="IEntidades_ObtenerHijosDePadre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHijosDePadre" />
  </wsdl:message>
  <wsdl:message name="IEntidades_ObtenerHijosDePadre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHijosDePadreResponse" />
  </wsdl:message>
  <wsdl:message name="IEntidades_CrearPadre_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearPadre" />
  </wsdl:message>
  <wsdl:message name="IEntidades_CrearPadre_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearPadreResponse" />
  </wsdl:message>
  <wsdl:message name="IEntidades_CrearHijo_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearHijo" />
  </wsdl:message>
  <wsdl:message name="IEntidades_CrearHijo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearHijoResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntidades">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntidades/GetData" message="tns:IEntidades_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntidades/GetDataResponse" message="tns:IEntidades_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntidades/GetDataUsingDataContract" message="tns:IEntidades_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntidades/GetDataUsingDataContractResponse" message="tns:IEntidades_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPadres">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntidades/ObtenerPadres" message="tns:IEntidades_ObtenerPadres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntidades/ObtenerPadresResponse" message="tns:IEntidades_ObtenerPadres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHijosDePadre">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntidades/ObtenerHijosDePadre" message="tns:IEntidades_ObtenerHijosDePadre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntidades/ObtenerHijosDePadreResponse" message="tns:IEntidades_ObtenerHijosDePadre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearPadre">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntidades/CrearPadre" message="tns:IEntidades_CrearPadre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntidades/CrearPadreResponse" message="tns:IEntidades_CrearPadre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearHijo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntidades/CrearHijo" message="tns:IEntidades_CrearHijo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntidades/CrearHijoResponse" message="tns:IEntidades_CrearHijo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntidades" type="tns:IEntidades">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IEntidades/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IEntidades/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPadres">
      <soap:operation soapAction="http://tempuri.org/IEntidades/ObtenerPadres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHijosDePadre">
      <soap:operation soapAction="http://tempuri.org/IEntidades/ObtenerHijosDePadre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearPadre">
      <soap:operation soapAction="http://tempuri.org/IEntidades/CrearPadre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearHijo">
      <soap:operation soapAction="http://tempuri.org/IEntidades/CrearHijo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Negocio">
    <wsdl:port name="BasicHttpBinding_IEntidades" binding="tns:BasicHttpBinding_IEntidades">
      <soap:address location="http://localhost:61733/Entidades.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>